.header {
  padding: 5px 25px;
  margin-bottom: 24px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}

.banner {
  /*width: 90%;*/
  margin: 24px;
  margin-top: 0;
  height: auto;
  padding: 12px;
  padding-top: 0;
  color: #16A085;
  font-weight: 900;
  font-size: 12px;
  border: 2px solid #16A085;
  font-family: 'Poppins', sans-serif;
}

.banner p {
  margin-top: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100vh;
  padding-bottom: 48px;
}

.editors{
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 48px;
}
.buttonWrapper {
  position: absolute;
  bottom: 20px;
  left: 40%;
  width: 220px;
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.cover {
  padding: 2px 25px;
  border-radius: 5px;
  border: none;
  background: #16A085;
  color: #fff;
  font-size: 16px;
  width: 92px;
  box-sizing: border-box;
  cursor: pointer;
}

.cover:disabled {
  opacity: 0.5;
}

.simplify:disabled {
  opacity: 0.5;
}

.simplify {
  padding: 2px 25px;
  border-radius: 5px;
  border: none;
  background: #16A085;
  color: #fff;
  font-size: 16px;
  width: 106px;
  box-sizing: border-box;
  cursor: pointer;
}

.landing {
  width: 80%;
  margin: 0 auto;
}

.landing h1 {
  margin-top: 36px;
  margin-bottom: 58px;
  font-size: 32px;
  text-align: center;
  color: #16A085;
  font-family: 'Poppins', sans-serif;
}

.landing h2 {
  margin-top: 24px;
  font-size: 28px;
  text-align: center;
  /*text-decoration: underline;*/
  color: #16A085;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 5px;
  border-bottom: 1px solid #16A085;
}

.landing h3 {
  margin-top: 24px;
  font-size: 22px;
  text-align: center;
  color: #16A085;
  font-family: 'Poppins', sans-serif;
}

.landing p {
  text-align: justify;
  font-size: 18px;
  margin-top: 24px;
  color: #a3a4ad;
  font-family: 'Poppins', sans-serif;
  /*width: 40%;*/
}

.left {
  margin-left: 60%;
}
.right {
  width: 40%;
}
